<!DOCTYPE html>
<html>
	<head>
		<title>Used Cars: Home</title>
	</head>
	<body>
		<a href="/"><h1>Used Cars</h1></a>
		<div>
			<a href="/makes/"><h2>List of makes</h2></a>
		</div>
		<div>
			<a href="/cars/"><h2>List of cars</h2></a>
		</div>
	</body>
</html>