<!DOCTYPE HTML>
<html>
	<head> 
		<title>All Models</title>
	</head>
	<body>
		<div id="models">
			<a href="makes.html" rel="makes">All Makes</a>
			<ul class="all">
				<li class="model">
					<span class="model-text">X3</span>
					<a href="years.html" rel="model">all years</a>
				</li>
				<li class="model">
					<span class="model-text">X5</span>
					<a href="years.html" rel="model">all years</a>
				</li>
				<li class="model">
					<span class="model-text">Z3</span>
					<a href="years.html" rel="model">all years</a>
				</li>
				<li class="model">
					<span class="model-text">Z4</span>
					<a href="years.html" rel="model">all years</a>
				</li>
			</ul>
		</div>
	</body>
</html>