<!DOCTYPE HTML>
<html>
	<head> 
		<title>Car 1</title>
	</head>
	<body>
		<div id="cars">
			<a href="cars.html" rel="cars">All cars for sale</a>
			<ul class="single">
				<li class="car">
					<span class="car-text">Car 1</span>
					<br/>
					<img class="car-image" src="http://static.usnews.rankingsandreviews.com/images/Auto/chrome/337847/337847_280x140.jpg" alt="image of Car 1"/>
					<br/>
					<span class="description">
						The information of Car 1
					</span>
				</li>
			</ul>
		</div>
	</body>
</html>