<!DOCTYPE HTML>
<html>
	<head> 
		<title>Search result</title>
	</head>
	<body>
		<div id="cars">
			<a href="makes.html" rel="makes">Back to search</a><br/><br/>
			<span class="make-text"><a href="models.html" rel="make">make</a></span>>
			<span class="model-text"><a href="years.html" rel="model">model</a></span>>
			<span class="year-text"><a href="cars.html" rel="year">year</a></span>>		
			<ul class="all">
				<li class="car-find">
					<span class="car-text">Car 1</span>
					<a href="car.html" rel="car">info</a>
				</li>
				<li class="car-find">
					<span class="car-text">Car 2</span>
					<a href="car.html" rel="car">info</a>
				</li>
				<li class="car-find">
					<span class="car-text">Car 3</span>
					<a href="car.html" rel="car">info</a>
				</li>
				<li class="car-find">
					<span class="car-text">Car 4</span>
					<a href="car.html" rel="car">info</a>
				</li>
			</ul>
		</div>
	</body>
</html>